/*@mixin rounded($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin rounded-top-left($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}*/
/*-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-webkit-border-bottom-right-radius: 15px;
*/
#BoldFace * {
  font-family: Arial;
  font-size: 14px;
}

#BoldFace {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #FFF;
  font-family: Arial;
  position: absolute;
  top: 60px;
  left: 60px;
  border: 4px solid blue;
  width: 600px;
  height: 350px;
}
#BoldFace h1 {
  padding: 5px 15px;
  margin: 0px;
  background: blue;
  color: #FFF;
  cursor: move;
}
#BoldFace #font_list {
  float: left;
  clear: right;
  width: 200px;
  height: 300px;
  overflow: overlay;
  border: 1px solid black;
}
#BoldFace #font_list .fontList {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  /*
    width:100px;
    height:300px;*/
}
#BoldFace #font_list .fontList li {
  padding: 0px;
  margin: 0px;
}
#BoldFace .property {
  float: left;
  width: 200px;
  height: 300px;
}
#BoldFace .property .size ul {
  padding: 0px;
  margin: 0px;
  width: 100px;
  height: 100px;
  overflow: overlay;
  list-style-type: none;
}
#BoldFace .property .size ul li {
  padding: 0px;
  margin: 0px;
}
#BoldFace .property .subsets select {
  width: 90px;
  height: 60px;
}
#BoldFace .property .variants select {
  width: 90px;
  height: 60px;
}

ul {
  /*
    background:#388799;
    color:#999248;
  */
}
ul .selected {
  font-weight: bold;
  background: #AEAEAE;
}

/*.focused {
  background:#388799;
  color:#999248;
  .selected {
    background:#000;
    color:#FFF;
  }
}*/
